nodered/ncd-co2-gas-humidity-temperature-dashboard.json
[{"id":"5c8c4b9df867983a","type":"subflow","name":"CO2 Gas Dashboard","info":"","category":"NCD","in":[{"x":60,"y":780,"wires":[{"id":"23f85d30d67830bf"}]}],"out":[],"env":[{"name":"Path","type":"str","value":"","ui":{"icon":"font-awesome/fa-folder-open-o","label":{"en-US":"Custom Path"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#3FADB5","icon":"font-awesome/fa-fire","status":{"x":1980,"y":700,"wires":[{"id":"6495d6dc235a5764","port":0},{"id":"5f839f60667ce114","port":0},{"id":"4ca34d69eb9df267","port":0}]}},{"id":"427f72e713f3b422","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3105,"y":1180,"wires":[["9009862a681da4da"]],"l":false},{"id":"af91089fe91a2ba8","type":"link in","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"link in 174","links":["cc0226f553298130","6fd47adcde483659"],"x":3015,"y":1360,"wires":[["427f72e713f3b422","24926e799e831a6f","ad1b24b6d5b89e26","6d3ac2b8bfa50483","3afd62ed94821fad","6bbc39e1fa1e41ad","e655b63146ca066c","d2dac8e7084f234b","6d132fc44a9ffe66","219e15c4e6aad59b","7c4b02d5616edf9f","8d40bdf2908c08f3","482db2e1dd842b14","2c8347459d2255d0","c6cbc1e19a4e5930","0b9860878e605c21","2eb03f0fadf75b41","c23cee37c9ce2750","cb55e94626a51bd1"]]},{"id":"24926e799e831a6f","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.firmware","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3105,"y":1220,"wires":[["558b0819339188d9"]],"l":false},{"id":"ad1b24b6d5b89e26","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3105,"y":1260,"wires":[["cfb62fea9d3beaaa"]],"l":false},{"id":"6d3ac2b8bfa50483","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3105,"y":1300,"wires":[["d876eaa7ca6cc284"]],"l":false},{"id":"3afd62ed94821fad","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3105,"y":1340,"wires":[["25408472b5c31603"]],"l":false},{"id":"6bbc39e1fa1e41ad","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3105,"y":1380,"wires":[["4812c0f09de79d4e"]],"l":false},{"id":"e655b63146ca066c","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3105,"y":1420,"wires":[["389579aed0ef99ba"]],"l":false},{"id":"d2dac8e7084f234b","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3105,"y":1460,"wires":[["25b521a73bd50eed"]],"l":false},{"id":"6d132fc44a9ffe66","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.addr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3105,"y":1500,"wires":[["a777479cea61d4fd"]],"l":false},{"id":"219e15c4e6aad59b","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3105,"y":1540,"wires":[["383856288292108d"]],"l":false},{"id":"2c8347459d2255d0","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.original.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3715,"y":1180,"wires":[["b8fb2bde2d8848e6"]],"l":false},{"id":"c6cbc1e19a4e5930","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.original.receive_options.ack","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3715,"y":1260,"wires":[["608248cda8aa4d6e"]],"l":false},{"id":"0b9860878e605c21","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.original.receive_options.broadcast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3715,"y":1300,"wires":[["210e7435eaee1386"]],"l":false},{"id":"2eb03f0fadf75b41","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3715,"y":1340,"wires":[["b228a2b88a9bed5e"]],"l":false},{"id":"cb55e94626a51bd1","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3755,"y":1380,"wires":[["ebcdda15bbcd51b8"]],"l":false},{"id":"f90425dd1fa04045","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().format('MMMM Do YYYY, h:mm:ss a')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3755,"y":1460,"wires":[["471333df010b4039"]],"l":false},{"id":"c23cee37c9ce2750","type":"switch","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","property":"lastReceived","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":3705,"y":1440,"wires":[["bdb2ea5b1fbf7660"],["f90425dd1fa04045"]],"l":false},{"id":"bdb2ea5b1fbf7660","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting for messages","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3755,"y":1420,"wires":[["471333df010b4039"]],"l":false},{"id":"9009862a681da4da","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"f1a33d36903bd849","order":2,"width":"0","height":"0","name":"Node ID","label":"Node ID","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3200,"y":1180,"wires":[]},{"id":"558b0819339188d9","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"f1a33d36903bd849","order":11,"width":"0","height":"0","name":"Firmware version","label":"Firmware version:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3230,"y":1220,"wires":[]},{"id":"cfb62fea9d3beaaa","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"f1a33d36903bd849","order":10,"width":"0","height":"0","name":"Battery V","label":"Battery (V):","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3200,"y":1260,"wires":[]},{"id":"d876eaa7ca6cc284","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"f1a33d36903bd849","order":9,"width":"0","height":"0","name":"Battery Level","label":"Battery Level (%):","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3210,"y":1300,"wires":[]},{"id":"25408472b5c31603","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"f1a33d36903bd849","order":8,"width":"0","height":"0","name":"Counter","label":"Counter:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3200,"y":1340,"wires":[]},{"id":"4812c0f09de79d4e","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"f1a33d36903bd849","order":7,"width":"0","height":"0","name":"Sensor type","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3210,"y":1380,"wires":[]},{"id":"389579aed0ef99ba","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"f1a33d36903bd849","order":6,"width":"0","height":"0","name":"Sensor Name","label":"Sensor Name:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3220,"y":1420,"wires":[]},{"id":"25b521a73bd50eed","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"f1a33d36903bd849","order":5,"width":"0","height":"0","name":"Type","label":"Type:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3190,"y":1460,"wires":[]},{"id":"a777479cea61d4fd","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"f1a33d36903bd849","order":4,"width":"0","height":"0","name":"Address","label":"Address","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3200,"y":1500,"wires":[]},{"id":"383856288292108d","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"f1a33d36903bd849","order":3,"width":"0","height":"0","name":"Receive","label":"Received:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#ffffff","wrapText":false,"className":"","x":3200,"y":1540,"wires":[]},{"id":"b690b3c207191c05","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"f1a33d36903bd849","order":1,"width":"0","height":"0","name":"DATA","label":"DATA","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#36ccff","wrapText":false,"className":"","x":3190,"y":1140,"wires":[]},{"id":"ec656663f90b5f07","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"41d4938e87e89a05","order":1,"width":"0","height":"0","name":"SENSOR DATA (payload)","label":"SENSOR DATA","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#36ccff","wrapText":false,"className":"","x":3490,"y":1140,"wires":[]},{"id":"38b8d990be0efee6","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"33248c846b1ca929","order":1,"width":"0","height":"0","name":"ORIGINAL","label":"ORIGINAL","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#36ccff","wrapText":false,"className":"","x":3820,"y":1140,"wires":[]},{"id":"b8fb2bde2d8848e6","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"33248c846b1ca929","order":2,"width":"0","height":"0","name":"MAC","label":"MAC:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3800,"y":1180,"wires":[]},{"id":"0d8b95f3fb58bc88","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"33248c846b1ca929","order":3,"width":"0","height":"0","name":"RECEIVE OPTIONS","label":"RECEIVE OPTIONS","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#36ccff","wrapText":false,"className":"","x":3850,"y":1220,"wires":[]},{"id":"608248cda8aa4d6e","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"33248c846b1ca929","order":4,"width":"0","height":"0","name":"ack","label":"ack:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3800,"y":1260,"wires":[]},{"id":"210e7435eaee1386","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"33248c846b1ca929","order":5,"width":"0","height":"0","name":"broadcast","label":"broadcast:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3810,"y":1300,"wires":[]},{"id":"b228a2b88a9bed5e","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"33248c846b1ca929","order":6,"width":"0","height":"0","name":"type","label":"type:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3800,"y":1340,"wires":[]},{"id":"ebcdda15bbcd51b8","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"33248c846b1ca929","order":7,"width":"0","height":"0","name":"topic","label":"topic:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3840,"y":1380,"wires":[]},{"id":"471333df010b4039","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"33248c846b1ca929","order":9,"width":"0","height":"0","name":"last received message","label":"Last received message at:","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#36ccff","wrapText":false,"className":"","x":3890,"y":1460,"wires":[]},{"id":"010ca20d178749aa","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"33248c846b1ca929","order":8,"width":"0","height":"0","name":"relleno","label":"","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#36ccff","wrapText":false,"className":"","x":3840,"y":1420,"wires":[]},{"id":"4b7963d0742c3114","type":"link out","z":"5c8c4b9df867983a","name":"link out 115","mode":"link","links":["b19b8c47eb34a2b7"],"x":2675,"y":900,"wires":[]},{"id":"8187b2bb94b66b5d","type":"link out","z":"5c8c4b9df867983a","name":"link out 116","mode":"link","links":["b19b8c47eb34a2b7","4ac21a8c3735df73","77af961cabf7794f","63ac56c4c8cdbe52","406ccbeff919dfdf"],"x":2825,"y":780,"wires":[]},{"id":"45327efd0dbd5541","type":"link out","z":"5c8c4b9df867983a","name":"toGraphs","mode":"link","links":["f9a9c5730136fd7b","adbb35839b5ed514","b8bbf94a8733c294"],"x":2825,"y":980,"wires":[]},{"id":"1dbbcd19132e38b2","type":"file in","z":"5c8c4b9df867983a","name":"path","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2195,"y":940,"wires":[["711c5e3d68e0266c"]],"l":false},{"id":"711c5e3d68e0266c","type":"csv","z":"5c8c4b9df867983a","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":2245,"y":940,"wires":[["e13c4eff22eda1d3"]],"l":false},{"id":"017537387632f522","type":"change","z":"5c8c4b9df867983a","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(payload.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":800,"wires":[["547263b22b974b61"]]},{"id":"8e5611d2f34c2f6f","type":"csv","z":"5c8c4b9df867983a","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"battery_percent,counter,sensor_data,sensor_name,addr,received","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":1775,"y":760,"wires":[["122c1343a25e4027"]],"l":false},{"id":"122c1343a25e4027","type":"file","z":"5c8c4b9df867983a","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1825,"y":760,"wires":[["59bfeed6bfe526ef","4ca34d69eb9df267"]],"l":false},{"id":"59bfeed6bfe526ef","type":"function","z":"5c8c4b9df867983a","name":"getAndSetMAC","func":"let newMAC = msg.addr;\nlet type = msg.temp.sensor_type;\nlet count = flow.get(\"co2GasCountMac\") || 0;\n\nfor (let index = 0; index < count; index++) {\n    let oldMAC = flow.get(\"co2GasMac[\"+index+\"]\")[0]; \n    if(oldMAC == newMAC)\n    {\n        msg.mac_counter = count;\n        msg.newdevice = false;\n        delete msg.payload;\n        delete msg.userPath;\n        delete msg.addr;\n        delete msg.date;\n        delete msg.filename;\n        delete msg.columns;\n        return msg;\n    }\n}\nflow.set(\"co2GasMac[\"+count+\"]\",[ newMAC, type]); \ncount++;\nmsg.mac_counter = count;\nmsg.newdevice = true; \nflow.set(\"co2GasCountMac\", count);\ndelete msg.payload;\ndelete msg.userPath;\ndelete msg.addr;\ndelete msg.date;\ndelete msg.filename;\ndelete msg.columns;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1970,"y":780,"wires":[["d52de4044cdb349a","5a757973d40e9273"]]},{"id":"d52de4044cdb349a","type":"function","z":"5c8c4b9df867983a","name":"getMACOptionsForDropdown","func":"let count = flow.get(\"co2GasCountMac\");\nlet options = [];\nfor (let index = 0; index < count; index++) {\n    options[index] = flow.get(\"co2GasMac[\"+index+\"]\")[0];\n}\nmsg.options = options;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2220,"y":800,"wires":[["d772504c6cd2a397","3bd828db5d44f6e2"]]},{"id":"2e06813b38411fb2","type":"change","z":"5c8c4b9df867983a","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$replace(payload,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":980,"wires":[["3dbebf1735cbac2b"]]},{"id":"69c6e36888f070b4","type":"switch","z":"5c8c4b9df867983a","name":"userMACSelection?","property":"temp.addr","propertyType":"msg","rules":[{"t":"eq","v":"co2GasMacSelection","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":2630,"y":800,"wires":[["8a4dcc8b713e0582"]]},{"id":"10a17a0e2370ebe5","type":"change","z":"5c8c4b9df867983a","name":"getData","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2530,"y":980,"wires":[["6ece9b51001c3f33"]]},{"id":"6ece9b51001c3f33","type":"json","z":"5c8c4b9df867983a","name":"json object","property":"payload.data","action":"","pretty":false,"x":2625,"y":980,"wires":[["9113b34e600c970e"]],"l":false},{"id":"9113b34e600c970e","type":"function","z":"5c8c4b9df867983a","name":"getData","func":"\n// Get the original data\nconst originalData = msg.payload.data;\n\n// Create a new object to hold the modified data\nconst newData = {};\n\n// Loop through each key in the original data\nfor (const key in originalData) {\n    if (originalData.hasOwnProperty(key)) {\n        // Replace the keys according to the specified rules\n        let newKey = key.replace('humidity', 'humidity').replace('temperature', 'temperature');\n        newData[newKey] = originalData[key];\n    }\n}\n\n// Assign the new data back to the message payload\n//msg.payload.data = newData;\n\nlet data = newData;\ndata.Timestamp = msg.payload.col6;\ndata.battery = msg.payload.col1;\nmsg = {};\nmsg.payload = [data];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":980,"wires":[["45327efd0dbd5541"]]},{"id":"547263b22b974b61","type":"switch","z":"5c8c4b9df867983a","name":"userPathValid?","property":"userPath","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1310,"y":800,"wires":[["5f839f60667ce114"],["db9c41c13ef37ea8"],["393f6c01f2e33238"]],"outputLabels":["invalid","linuxFomat","winFormat"]},{"id":"db9c41c13ef37ea8","type":"function","z":"5c8c4b9df867983a","name":"buildUserFilenameLinux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.temp = {};\nmsg.temp = msg.payload;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":800,"wires":[["8e5611d2f34c2f6f"]]},{"id":"393f6c01f2e33238","type":"function","z":"5c8c4b9df867983a","name":"buildUserFilenameWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.temp = {};\nmsg.temp = msg.payload;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":840,"wires":[["8e5611d2f34c2f6f"]]},{"id":"3dbebf1735cbac2b","type":"switch","z":"5c8c4b9df867983a","name":"win/lin?","property":"userPath","propertyType":"msg","rules":[{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1770,"y":980,"wires":[["c1440dab67e8be6c"],["057fbd87ab72fba6"]]},{"id":"c1440dab67e8be6c","type":"function","z":"5c8c4b9df867983a","name":"Linux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1940,"y":980,"wires":[["3ec8280f09642874"]]},{"id":"057fbd87ab72fba6","type":"function","z":"5c8c4b9df867983a","name":"windows","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":1020,"wires":[["3ec8280f09642874"]]},{"id":"bc0e391326a927a4","type":"catch","z":"5c8c4b9df867983a","name":"","scope":["122c1343a25e4027","1dbbcd19132e38b2"],"uncaught":false,"x":1835,"y":680,"wires":[["5f839f60667ce114"]],"l":false},{"id":"5f839f60667ce114","type":"function","z":"5c8c4b9df867983a","name":"function 50","func":"msg.payload = ({fill: \"red\",text:\"Path error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1905,"y":700,"wires":[[]],"l":false},{"id":"4ca34d69eb9df267","type":"function","z":"5c8c4b9df867983a","name":"function 51","func":"msg.payload = ({fill: \"green\",text:\"Saving data\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1905,"y":740,"wires":[[]],"l":false},{"id":"b92719ae34af8f56","type":"switch","z":"5c8c4b9df867983a","name":"ncd-evaluate-user-path","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":true,"outputs":2,"x":860,"y":760,"wires":[["b2f854044a28bb76"],["017537387632f522"]],"outputLabels":["defaultPath","userPath"]},{"id":"4fcf463f7aca0b15","type":"change","z":"5c8c4b9df867983a","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":700,"wires":[["7eb69419694b4792"]]},{"id":"b5cc5ad8be6273d4","type":"change","z":"5c8c4b9df867983a","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":740,"wires":[["515054214bc47567"]]},{"id":"515054214bc47567","type":"switch","z":"5c8c4b9df867983a","name":"Win","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1220,"y":740,"wires":[["1f26a34626b945a6"]]},{"id":"7eb69419694b4792","type":"switch","z":"5c8c4b9df867983a","name":"Lin","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1220,"y":700,"wires":[["3d33fb0851f63211"]]},{"id":"c2dee66d34275304","type":"change","z":"5c8c4b9df867983a","name":"ncd-get-user-path","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":760,"wires":[["b92719ae34af8f56"]]},{"id":"3d33fb0851f63211","type":"change","z":"5c8c4b9df867983a","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(payload.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":700,"wires":[["76bdd2e722faad76"]]},{"id":"e90278478997e4ca","type":"function","z":"5c8c4b9df867983a","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.temp = {};\nmsg.temp = msg.payload;\n//-----------------\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":740,"wires":[["8e5611d2f34c2f6f"]]},{"id":"76bdd2e722faad76","type":"function","z":"5c8c4b9df867983a","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload.sensor_data;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.temp = {};\nmsg.temp = msg.payload;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":700,"wires":[["8e5611d2f34c2f6f"]]},{"id":"1f26a34626b945a6","type":"change","z":"5c8c4b9df867983a","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(payload.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":740,"wires":[["e90278478997e4ca"]]},{"id":"0d22900d5285c62b","type":"switch","z":"5c8c4b9df867983a","name":"userPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1400,"y":940,"wires":[["06f2681e27bfbe25","e3ac16bdb84e1d51"],["2e06813b38411fb2"]]},{"id":"932b8de9c7723a1d","type":"change","z":"5c8c4b9df867983a","name":"userPath&MacSelection","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"},{"t":"set","p":"co2GasMacSelection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":940,"wires":[["0d22900d5285c62b"]]},{"id":"e3ac16bdb84e1d51","type":"change","z":"5c8c4b9df867983a","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":900,"wires":[["6f77087f0ef556c4"]]},{"id":"06f2681e27bfbe25","type":"change","z":"5c8c4b9df867983a","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":940,"wires":[["09b47c1970dd0101"]]},{"id":"09b47c1970dd0101","type":"switch","z":"5c8c4b9df867983a","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1700,"y":940,"wires":[["a235fbc6f7404977"]]},{"id":"6f77087f0ef556c4","type":"switch","z":"5c8c4b9df867983a","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1700,"y":900,"wires":[["470452656ad7f839"]]},{"id":"100d819d113be63b","type":"function","z":"5c8c4b9df867983a","name":"buildPathWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2060,"y":940,"wires":[["1dbbcd19132e38b2"]]},{"id":"58bee3a0324031db","type":"function","z":"5c8c4b9df867983a","name":"buildPathLin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2060,"y":900,"wires":[["1dbbcd19132e38b2"]]},{"id":"470452656ad7f839","type":"change","z":"5c8c4b9df867983a","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$replace(payload,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":900,"wires":[["58bee3a0324031db"]]},{"id":"a235fbc6f7404977","type":"change","z":"5c8c4b9df867983a","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$replace(payload,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":940,"wires":[["100d819d113be63b"]]},{"id":"e13c4eff22eda1d3","type":"function","z":"5c8c4b9df867983a","name":"last(n)Items","func":"const x = msg.payload.slice(-20);\nconst array = msg.payload;\n\nfor (let index = 0; index < 20; index++) {\n    msg.payload = x[index];\n    node.send([[null], [msg]]); \n}\nmsg.payload = array[array.length - 1];\nreturn [msg, null];\n","outputs":2,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":940,"wires":[["e0716e4edcef9c51","860716a832a908b1"],["10a17a0e2370ebe5"]]},{"id":"2ad006a2294988a7","type":"catch","z":"5c8c4b9df867983a","name":"","scope":["6ece9b51001c3f33"],"uncaught":false,"x":2690,"y":760,"wires":[[]]},{"id":"8a4dcc8b713e0582","type":"function","z":"5c8c4b9df867983a","name":"function 52","func":"let inspect = flow.get(\"co2GasInspect\") || false;\nmsg.payload = msg.temp;\ndelete msg.temp;\ndelete msg.options;\ndelete msg.newdevice;\ndelete msg.mac_counter;\n// delete msg.payload.original.data;\nif(inspect){\n\n    return [msg, msg];\n}\nreturn [msg, null];\n\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2765,"y":800,"wires":[["8187b2bb94b66b5d"],["6fd47adcde483659"]],"l":false},{"id":"e0716e4edcef9c51","type":"change","z":"5c8c4b9df867983a","name":"getData","rules":[{"t":"set","p":"payload.sensor_data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2530,"y":900,"wires":[["67be168ab2eba50b"]]},{"id":"860716a832a908b1","type":"change","z":"5c8c4b9df867983a","name":"getBattery","rules":[{"t":"set","p":"payload.battery_percent","pt":"msg","to":"payload.col1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2540,"y":940,"wires":[["e266a4021ebe0794"]]},{"id":"67be168ab2eba50b","type":"json","z":"5c8c4b9df867983a","name":"json object","property":"payload.sensor_data","action":"","pretty":false,"x":2625,"y":900,"wires":[["4b7963d0742c3114"]],"l":false},{"id":"f3d5a1a28d78e139","type":"switch","z":"5c8c4b9df867983a","name":"ncd-filter-by-type","property":"payload.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"44","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":440,"y":780,"wires":[["c2dee66d34275304"],["dfc16cd2d9d5c922"]]},{"id":"dfc16cd2d9d5c922","type":"function","z":"5c8c4b9df867983a","name":"ncd-type-error","func":"msg.payload = ({fill: \"red\",text:\"Type error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":800,"wires":[["e74f0411c44c6d69"]]},{"id":"e74f0411c44c6d69","type":"link out","z":"5c8c4b9df867983a","name":"link out 117","mode":"link","links":["6495d6dc235a5764"],"x":745,"y":800,"wires":[]},{"id":"6495d6dc235a5764","type":"link in","z":"5c8c4b9df867983a","name":"link in 177","links":["e74f0411c44c6d69"],"x":1905,"y":660,"wires":[[]]},{"id":"d8edbbd6987378fe","type":"link in","z":"5c8c4b9df867983a","name":"link in 178","links":["c0cf694846b29bca"],"x":615,"y":940,"wires":[["d772504c6cd2a397"]]},{"id":"4e911581a2e35cda","type":"change","z":"5c8c4b9df867983a","name":"clearInspect","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"nodeId\":\"-\",\"firmware\":\"-\",\"battery\":\"-\",\"battery_percent\":\"-\",\"counter\":\"-\",\"sensor_type\":\"-\",\"sensor_data\":{},\"sensor_name\":\"-\",\"addr\":\"--:--:--:--:--:--:--:--\",\"received\":\"-\",\"original\":{\"mac\":\"--:--:--:--:--:--:--:--\",\"receive_options\":{\"ack\":\"-\",\"broadcast\":\"-\",\"type\":\"\"}},\"modem_mac\":\"--:--:--:--:--:--:--:--\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"-","tot":"str"},{"t":"set","p":"lastReceived","pt":"msg","to":"false","tot":"bool"},{"t":"delete","p":"temp","pt":"msg"},{"t":"delete","p":"mac_counter","pt":"msg"},{"t":"delete","p":"newdevice","pt":"msg"},{"t":"delete","p":"options","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1135,"y":980,"wires":[["cc0226f553298130","14e506b9884ca0f1"]],"l":false},{"id":"cc0226f553298130","type":"link out","z":"5c8c4b9df867983a","name":"link out 118","mode":"link","links":["af91089fe91a2ba8"],"x":1185,"y":980,"wires":[]},{"id":"6d2f777dad7e6865","type":"function","z":"5c8c4b9df867983a","name":"inspectCheck","func":"let actualMAC = msg.payload;\nlet lastMAC = context.get(\"lastMAC\") || false;\n\nif (actualMAC != lastMAC)\n{\n    context.set(\"lastMAC\", actualMAC);\n    return msg;\n}\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":940,"wires":[["4e911581a2e35cda","932b8de9c7723a1d"]]},{"id":"e266a4021ebe0794","type":"link out","z":"5c8c4b9df867983a","name":"link out 119","mode":"link","links":["4ac21a8c3735df73"],"x":2645,"y":940,"wires":[]},{"id":"993e362472562ea5","type":"change","z":"5c8c4b9df867983a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"A new NCD device with MAC (\"&(temp.addr)&\") has been connected! You can select it from MAC Dropdown\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2155,"y":760,"wires":[["0b335ea6f7d8e767"]],"l":false},{"id":"d772504c6cd2a397","type":"ui-dropdown","z":"5c8c4b9df867983a","group":"87cfcb63861c5271","name":"Select MAC","label":"MAC","tooltip":"","order":1,"width":"","height":"","passthru":false,"multiple":false,"chips":false,"clearable":false,"options":[{"label":"Waiting for sensor...","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"ncd-co2-gas-select-mac","typeIsComboBox":true,"msgTrigger":"onChange","x":760,"y":940,"wires":[["6d2f777dad7e6865"]]},{"id":"0b335ea6f7d8e767","type":"ui-notification","z":"5c8c4b9df867983a","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#1a253f","displayTime":"5","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","allowConfirm":false,"confirmText":"","raw":false,"className":"","name":"ncd-new-device","x":2270,"y":760,"wires":[]},{"id":"5a757973d40e9273","type":"switch","z":"5c8c4b9df867983a","name":"","property":"newdevice","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2105,"y":760,"wires":[["993e362472562ea5"]],"l":false},{"id":"6fd47adcde483659","type":"link out","z":"5c8c4b9df867983a","name":"link out 120","mode":"link","links":["af91089fe91a2ba8"],"x":2825,"y":820,"wires":[]},{"id":"23f85d30d67830bf","type":"switch","z":"5c8c4b9df867983a","name":"ncd-filter-sensor-data","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensor_data","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":780,"wires":[["f3d5a1a28d78e139"]]},{"id":"3bd828db5d44f6e2","type":"change","z":"5c8c4b9df867983a","name":"ncd-addr","rules":[{"t":"set","p":"temp.addr","pt":"msg","to":"$substring(temp.addr, 12)","tot":"jsonata"},{"t":"set","p":"temp.addr","pt":"msg","to":"$replace(temp.addr,\":\",\"-\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2450,"y":800,"wires":[["69c6e36888f070b4"]]},{"id":"01581111492516b1","type":"ui-gauge","z":"5c8c4b9df867983a","name":"","group":"4c4b899377993f04","order":2,"width":"2","height":"3","gtype":"gauge-half","gstyle":"needle","title":"Humidity","units":"%","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#5cd65c"},{"from":"40","color":"#ffc800"},{"from":"70","color":"#ea5353"}],"min":0,"max":"100","sizeThickness":"0","sizeGap":"0","sizeKeyThickness":"32","styleRounded":true,"styleGlow":false,"className":"","x":3320,"y":800,"wires":[]},{"id":"5da173b10b65b210","type":"ui-gauge","z":"5c8c4b9df867983a","name":"","group":"4c4b899377993f04","order":1,"width":"2","height":"3","gtype":"gauge-half","gstyle":"needle","title":"Temperature","units":"°C","icon":"","prefix":"","suffix":"","segments":[{"from":"-25","color":"#5cd65c"},{"from":"40","color":"#ffc800"},{"from":"70","color":"#ea5353"}],"min":"-25","max":"85","sizeThickness":"0","sizeGap":"0","sizeKeyThickness":"32","styleRounded":true,"styleGlow":false,"className":"","x":3330,"y":840,"wires":[]},{"id":"e470dd1d3baf85d2","type":"ui-gauge","z":"5c8c4b9df867983a","name":"","group":"4c4b899377993f04","order":3,"width":"2","height":"6","gtype":"gauge-34","gstyle":"rounded","title":"CO2","units":"PPM (Parts Per Million)","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#fe7f0e"},{"from":"2000","color":"#ff7f0e"}],"min":0,"max":"2000","sizeThickness":"20","sizeGap":"0","sizeKeyThickness":"0","styleRounded":true,"styleGlow":false,"className":"","x":3310,"y":880,"wires":[]},{"id":"ba8b578c0bdc7a84","type":"ui-gauge","z":"5c8c4b9df867983a","name":"","group":"c9eda5fa9f90723c","order":1,"width":"1","height":"5","gtype":"gauge-battery","gstyle":"needle","title":"Battery","units":"(%)","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ea5353"},{"from":"40","color":"#ffc800"},{"from":"70","color":"#5cd65c"}],"min":0,"max":"100","sizeThickness":"0","sizeGap":"0","sizeKeyThickness":"32","styleRounded":true,"styleGlow":false,"className":"","x":3740,"y":920,"wires":[]},{"id":"c97f00585e4f6913","type":"ui-chart","z":"5c8c4b9df867983a","group":"c9eda5fa9f90723c","name":"","label":"Historical Battery Percent (%) ","order":2,"chartType":"line","category":"Battery","categoryType":"str","xAxisLabel":"","xAxisProperty":"payload[0].Timestamp","xAxisPropertyType":"msg","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"battery","yAxisPropertyType":"property","ymin":"40","ymax":"100","bins":10,"action":"append","stackSeries":false,"pointShape":"circle","pointRadius":4,"showLegend":false,"removeOlder":"40","removeOlderUnit":"60","removeOlderPoints":"","colors":["#2ca02c","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":"11","height":"5","className":"","interpolation":"linear","x":3810,"y":960,"wires":[[]]},{"id":"b19b8c47eb34a2b7","type":"link in","z":"5c8c4b9df867983a","name":"link in 206","links":["8187b2bb94b66b5d","c0cf694846b29bca","4b7963d0742c3114"],"x":3125,"y":840,"wires":[["7863d814c3a05860","62647fe75bbab21d","da830243308ce7b9"]]},{"id":"da830243308ce7b9","type":"change","z":"5c8c4b9df867983a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor_data.humidity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Hum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3225,"y":800,"wires":[["01581111492516b1"]],"l":false},{"id":"62647fe75bbab21d","type":"change","z":"5c8c4b9df867983a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor_data.temperature","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3225,"y":840,"wires":[["5da173b10b65b210"]],"l":false},{"id":"7863d814c3a05860","type":"change","z":"5c8c4b9df867983a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor_data.CO2","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"CO2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3225,"y":880,"wires":[["e470dd1d3baf85d2"]],"l":false},{"id":"4ac21a8c3735df73","type":"link in","z":"5c8c4b9df867983a","name":"link in 209","links":["8187b2bb94b66b5d","e266a4021ebe0794"],"x":3575,"y":920,"wires":[["c14b2e646965f57b"]]},{"id":"c14b2e646965f57b","type":"change","z":"5c8c4b9df867983a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery_percent","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"battery","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3635,"y":920,"wires":[["ba8b578c0bdc7a84"]],"l":false},{"id":"daf67d841d11c23e","type":"ui-chart","z":"5c8c4b9df867983a","group":"1c261da0029f6083","name":"Temperature and Humidity History Data","label":"Temperature and Humidity History Data","order":1,"chartType":"line","category":"[\"humidity\", \"temperature\"]","categoryType":"json","xAxisLabel":"","xAxisProperty":"payload[0].Timestamp","xAxisPropertyType":"msg","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":"","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":"40","removeOlderUnit":"60","removeOlderPoints":"","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":"10","height":"7","className":"","interpolation":"linear","x":3880,"y":700,"wires":[[]]},{"id":"adbb35839b5ed514","type":"link in","z":"5c8c4b9df867983a","name":"link in 210","links":["c0cf694846b29bca","45327efd0dbd5541","f88263c7dd078f28"],"x":3575,"y":960,"wires":[["c97f00585e4f6913"]]},{"id":"f9a9c5730136fd7b","type":"link in","z":"5c8c4b9df867983a","name":"link in 211","links":["45327efd0dbd5541","c0cf694846b29bca","f88263c7dd078f28"],"x":3585,"y":700,"wires":[["daf67d841d11c23e"]]},{"id":"e19aaeba8706994d","type":"function","z":"5c8c4b9df867983a","name":"getData","func":"let timestamp = Date.now();\n// Get the original data\nconst originalData = msg.payload.sensor_data;\n\n// Create a new object to hold the modified data\nconst newData = {};\n\n// Loop through each key in the original data\nfor (const key in originalData) {\n    if (originalData.hasOwnProperty(key)) {\n        // Replace the keys according to the specified rules\n        let newKey = key.replace('humidity', 'humidity').replace('temperature', 'temperature');\n        newData[newKey] = originalData[key];\n    }\n}\n\n// Assign the new data back to the message payload\nlet data = newData;\ndata.Timestamp = timestamp;\nmsg = {};\nmsg.payload = [data];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3635,"y":740,"wires":[["daf67d841d11c23e"]],"l":false},{"id":"77af961cabf7794f","type":"link in","z":"5c8c4b9df867983a","name":"link in 212","links":["8187b2bb94b66b5d"],"x":3585,"y":740,"wires":[["e19aaeba8706994d"]]},{"id":"63ac56c4c8cdbe52","type":"link in","z":"5c8c4b9df867983a","name":"link in 213","links":["8187b2bb94b66b5d"],"x":3575,"y":1000,"wires":[["ca7fa7b97fee3508"]]},{"id":"ca7fa7b97fee3508","type":"function","z":"5c8c4b9df867983a","name":"getData","func":"let timestamp = Date.now();\nlet batt = msg.payload.battery_percent;\nmsg.payload = [{\"battery\" : batt, Timestamp: timestamp}];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3635,"y":1000,"wires":[["c97f00585e4f6913"]],"l":false},{"id":"585059159d93c98b","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"41d4938e87e89a05","order":4,"width":"0","height":"0","name":"Humidity","label":"Humidity:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3500,"y":1180,"wires":[]},{"id":"7c4b02d5616edf9f","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor_data.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3395,"y":1180,"wires":[["585059159d93c98b"]],"l":false},{"id":"25e469b41f32e41f","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"41d4938e87e89a05","order":3,"width":"0","height":"0","name":"Temperature","label":"Temperature:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3510,"y":1220,"wires":[]},{"id":"8d40bdf2908c08f3","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor_data.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3395,"y":1220,"wires":[["25e469b41f32e41f"]],"l":false},{"id":"3fcb1561daa2fdf5","type":"ui-text","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","group":"41d4938e87e89a05","order":2,"width":"0","height":"0","name":"CO2","label":"CO2:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#36ccff","wrapText":false,"className":"","x":3490,"y":1260,"wires":[]},{"id":"482db2e1dd842b14","type":"change","z":"5c8c4b9df867983a","g":"d5cb110dbf7d64ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor_data.CO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3395,"y":1260,"wires":[["3fcb1561daa2fdf5"]],"l":false},{"id":"14e506b9884ca0f1","type":"change","z":"5c8c4b9df867983a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1135,"y":1020,"wires":[["f88263c7dd078f28"]],"l":false},{"id":"f88263c7dd078f28","type":"link out","z":"5c8c4b9df867983a","name":"link out 138","mode":"link","links":["f9a9c5730136fd7b","adbb35839b5ed514","b8bbf94a8733c294"],"x":1185,"y":1020,"wires":[]},{"id":"14659fe556305457","type":"link in","z":"5c8c4b9df867983a","name":"link in 214","links":["c0cf694846b29bca"],"x":3575,"y":880,"wires":[["ba8b578c0bdc7a84"]]},{"id":"5f8f21bdd4c107d7","type":"function","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"Set base path","func":"var basePath = msg.path;\nvar device = msg.device;\nvar filename = msg.date;\nmsg.filename = basePath + device + filename + \".csv\";\nreturn msg;\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3710,"y":440,"wires":[["2cd5bf9b08b9a526"]]},{"id":"c59a870d62b55e53","type":"http response","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"","statusCode":"","headers":{},"x":4000,"y":440,"wires":[]},{"id":"2cd5bf9b08b9a526","type":"file in","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3870,"y":440,"wires":[["c59a870d62b55e53"]]},{"id":"b2ce40774b6cb6b7","type":"catch","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"","scope":["2cd5bf9b08b9a526"],"uncaught":false,"x":3390,"y":500,"wires":[["2a6a72e2a7132084","de08a066b0e3d7da","cb72e8deb2c2c4c3"]]},{"id":"c695d84d0418bc90","type":"http in","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"","url":"/co2-gas/log/:fn","method":"get","upload":false,"swaggerDoc":"","x":3070,"y":440,"wires":[["7f491d0477a81e79","3dc70aa13e1375a2"]]},{"id":"5b6e63aa140289b9","type":"change","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"date","pt":"msg","to":"co2GasDownload","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3540,"y":440,"wires":[["5f8f21bdd4c107d7"]]},{"id":"7f491d0477a81e79","type":"change","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":3205,"y":420,"wires":[["e063f3e5c5f74c4d"]],"l":false},{"id":"3dc70aa13e1375a2","type":"change","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":3205,"y":460,"wires":[["4b6473999e286c92"]],"l":false},{"id":"e063f3e5c5f74c4d","type":"switch","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3255,"y":420,"wires":[["687cbe034e41796d"]],"l":false},{"id":"4b6473999e286c92","type":"switch","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3255,"y":460,"wires":[["eade5c94e5f98725"]],"l":false},{"id":"687cbe034e41796d","type":"change","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"/.node-red/log/\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"co2GasMacSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"/\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3370,"y":420,"wires":[["5b6e63aa140289b9"]]},{"id":"c8316edf37425bec","type":"ui-notification","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#000000","displayTime":"15","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","allowConfirm":false,"confirmText":"","raw":false,"className":"","name":"","x":3800,"y":480,"wires":[]},{"id":"2a6a72e2a7132084","type":"function","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"error message","func":"var error = \"NCD Error: no such file or directory\";\nmsg = {};\nmsg.payload = error;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3560,"y":480,"wires":[["e6d4c58dc9025629"]]},{"id":"e6d4c58dc9025629","type":"trigger","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":3675,"y":480,"wires":[["c8316edf37425bec"]],"l":false},{"id":"eade5c94e5f98725","type":"change","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"\\\\.node-red\\\\log\\\\\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"co2GasMacSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"\\\\\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3370,"y":460,"wires":[["5b6e63aa140289b9"]]},{"id":"de08a066b0e3d7da","type":"http response","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"ncd-co2-gas-redirect","statusCode":"302","headers":{"location":"/dashboard/ncd-co2-gas-sensor"},"x":3580,"y":520,"wires":[]},{"id":"cb72e8deb2c2c4c3","type":"trigger","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":3495,"y":560,"wires":[["7cea99bdffc9c49f"]],"l":false},{"id":"7cea99bdffc9c49f","type":"link out","z":"5c8c4b9df867983a","g":"b4db2ca48dd65b46","name":"link out 109","mode":"link","links":["c943de803dd8c936"],"x":3555,"y":560,"wires":[]},{"id":"b759caeb85e368b7","type":"ui-text-input","z":"5c8c4b9df867983a","g":"460953dc96060b48","group":"33e598eadd7588c5","name":"ncd-co2-gas-datepicker","label":"Date:","order":1,"width":"0","height":"0","topic":"topic","topicType":"msg","mode":"date","tooltip":"","delay":300,"passthru":false,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"ncd-co2-gas-datepicker","clearable":false,"sendOnClear":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","x":3770,"y":320,"wires":[["761dc5f24506fb85"]]},{"id":"7ebdb792f318a5dc","type":"ui-template","z":"5c8c4b9df867983a","g":"460953dc96060b48","group":"33e598eadd7588c5","page":"","ui":"","name":"co2-gas-Download","order":2,"width":"0","height":"0","head":"","format":"<template>  \n    <a href=\"/co2-gas/log/ncd-co2-gas.csv\">\n        <v-btn class=\"ncd-co2-gas-download-button\" color=\"#ffffff\">Download CSV</v-btn>\n    </a>\n</template>\n<style>\n.ncd-co2-gas-download-button{\n    height: 10px !important;\n    border-radius: 15px !important;\n    top:12px !important;\n    width: 127px !important;\n    color: black !important;\n}\n</style>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4230,"y":320,"wires":[[]]},{"id":"761dc5f24506fb85","type":"change","z":"5c8c4b9df867983a","g":"460953dc96060b48","name":"","rules":[{"t":"set","p":"co2GasDownload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4010,"y":320,"wires":[[]]},{"id":"c8b7ded7a40d8c6a","type":"ui-template","z":"5c8c4b9df867983a","g":"56527be957791d6c","group":"","page":"4cc30ca454232d23","ui":"","name":"ncd-co2-gas-style","order":0,"width":0,"height":0,"head":"","format":".v-main {\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n    background-color: #72bfd589 !important;\n}\n.v-btn--icon .v-icon {\n    color: white;\n}\n.bg-group-background{\n    border-radius:  35px !important;\n    background-color: white !important;\n    border-color: white !important;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 13px !important;\n    width: 50px !important;\n    height: 85px !important;\n    border-radius: 15px 0px 0px 15px;\n    background-color: white !important;\n}\n.v-navigation-drawer--left{\n    color: black;\n    top: 115px !important;\n    height: 580px !important;\n    width: 180px !important;\n    background-color: white !important;\n    border-radius: 0px 15px 15px 0px !important;\n}\n.co2-gas-group-select-mac .bg-group-background {\n    border-radius: 20px !important;\n    background-color: white !important;\n}\n.co2-gas-group-select-mac {\n    top: 880px !important;\n    width: 165px !important;\n    left: 13px !important;\n    position: absolute !important;\n}\n.co2-gas-group-select-mac .v-card{\n    height: 84px !important;\n}\n.co2-gas-group-download .bg-group-background {\n    border-radius: 20px !important;\n    background-color: white !important;\n}\n.co2-gas-group-download{\n    height: 100px !important;\n    top: 710px;\n    position: absolute;\n    left: 13px;\n    width: 165px !important;\n}\n.co2-gas-group-download .v-card{\n    height: 155px !important;\n}\n.ncd-co2-gas-datepicker{\n    top: 12px;\n    left: -12px;\n    width: 155px;\n    position: relative;\n    color: black;\n}\n.co2-gas-group-inspect .v-card{\n    height: 1088px !important;\n}\n.ncd-group-co2-gas-history-data .v-card{\n    height: 760px !important;\n}\n.ncd-co2-gas-select-mac{\n    color: black;\n}\n.v-btn--icon .v-icon {\n  color: black;\n}\n.ncd-group-co2-gas-gauge-data .v-card{\n    height: 760px !important;\n}","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":4210,"y":200,"wires":[[]]},{"id":"21c65f58ea6913ee","type":"ui-template","z":"5c8c4b9df867983a","g":"56527be957791d6c","group":"","page":"4cc30ca454232d23","ui":"","name":"ncd-co2-gas-logo","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n        <div class=\"ncd-logo\">\n            <v-chip label size=\"x-large\" :width=\"150\" color=\"black\" text=\"ncd.io\"></v-chip>\n        </div>\n    </a>\n</template>\n<style>\n    .ncd-logo {\n        transform: rotate(0deg);\n        width: 140px;\n        position: absolute;\n        top: 13px;\n        left: 70px;\n    }\n    .v-chip.v-chip--size-x-large {\n        --v-chip-height: 85px;\n        font-size: 1.65rem;\n        font-family: system-ui;\n        font-weight: bold;\n    }\n    .v-chip--variant-tonal .v-chip__underlay {\n        border-radius: 0px 15px 15px 0px !important;\n    }\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":4010,"y":200,"wires":[[]]},{"id":"275482dadd9e548d","type":"ui-template","z":"5c8c4b9df867983a","g":"56527be957791d6c","group":"","page":"4cc30ca454232d23","ui":"","name":"ncd-co2-gas-product-info","order":0,"width":"","height":"","head":"","format":"<template>\n    <a href=\"https://store.ncd.io/product/industrial-iot-wireless-co2-temperature-humidity-sensor/\" target=\"_blank\">\n        <v-btn class=\"ncd-co2-gas-product-info-button\" color=\"#ffffff\" density=\"default\" append-icon=\"mdi-open-in-new\"> Product info </v-btn>\n    </a>\n</template>\n<style>\n.ncd-co2-gas-product-info-button{\n    height: 10px !important;\n    border-radius: 15px !important;\n    position: absolute;\n    top: 1049px;\n    left: 27px;\n    width: 142px;\n    color: black !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3770,"y":200,"wires":[[]]},{"id":"ab30a761b0172a03","type":"function","z":"5c8c4b9df867983a","g":"5edd2213c8316624","name":"ncd-co2-gas-inspect","func":"let toggle = context.get(\"toggle\") || 0;\nlet unit = {};\nif(!toggle) /* First time */\n{\n    flow.set(\"co2GasInspect\", true);\n    unit = {\n        groups: \n        { \n            hide: \n            [\n                \"ncd-co2-gas-sensor:co2-gas-gauges\", \n                \"ncd-co2-gas-sensor:co2-gas-history\",\n                \"ncd-co2-gas-sensor:co2-gas-battery-percent\"\n            ],\n            show: [\n                \"ncd-co2-gas-sensor:co2-gas-inspect-1\",\n                \"ncd-co2-gas-sensor:co2-gas-inspect-2\",\n                \"ncd-co2-gas-sensor:co2-gas-inspect-3\"\n            ],\n            disable : \n            [\n                \"ncd-co2-gas-sensor:co2-gas-download\",\n                \"ncd-co2-gas-sensor:co2-gas-select-mac\"\n            ]\n        } \n    }\n    toggle++;\n}\nelse /* Second time */\n{\n    flow.set(\"co2GasInspect\", false);\n    unit = \n    {\n        groups: \n        { \n            hide: \n            [\n                \"ncd-co2-gas-sensor:co2-gas-inspect-1\",\n                \"ncd-co2-gas-sensor:co2-gas-inspect-2\",\n                \"ncd-co2-gas-sensor:co2-gas-inspect-3\" \n            ],\n            show: [\n                \"ncd-co2-gas-sensor:co2-gas-gauges\",\n                \"ncd-co2-gas-sensor:co2-gas-history\",\n                \"ncd-co2-gas-sensor:co2-gas-battery-percent\" \n            ],\n            enable : \n            [\n                \"ncd-co2-gas-sensor:co2-gas-download\",\n                \"ncd-co2-gas-sensor:co2-gas-select-mac\"\n            ]\n        } \n    }\n    toggle = 0;\n}\ncontext.set(\"toggle\", toggle);\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3340,"y":200,"wires":[["9608ca02881b8d2f"]]},{"id":"c112b1eb314ec8fb","type":"ui-template","z":"5c8c4b9df867983a","g":"5edd2213c8316624","group":"","page":"4cc30ca454232d23","ui":"","name":"ncd-co2-gas-inspect-button","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-btn class=\"ncd-co2-gas-inspect-button\" @click=\"send({payload:true})\" color=\"#ffffff\" density=\"default\" append-icon=\"mdi-code-braces\"> Inspect </v-btn>\n</template>\n\n<style>\n.ncd-co2-gas-inspect-button{\n    height: 10px !important;\n    border-radius: 15px !important;\n    top: -120px !important;\n    left: -155px !important;\n    width: 142px !important;\n    color: black !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3100,"y":200,"wires":[["ab30a761b0172a03"]]},{"id":"9608ca02881b8d2f","type":"ui-control","z":"5c8c4b9df867983a","g":"5edd2213c8316624","name":"","ui":"ec459411017ddf37","events":"change","x":3520,"y":240,"wires":[[]]},{"id":"92d8677b5e6fa1bf","type":"function","z":"5c8c4b9df867983a","g":"5edd2213c8316624","name":"ncd-co2-gas-init","func":"let unit = {};\nunit = {\n    groups: \n    { \n        hide: \n        [\n            \"ncd-co2-gas-sensor:co2-gas-inspect-1\",\n            \"ncd-co2-gas-sensor:co2-gas-inspect-2\",\n            \"ncd-co2-gas-sensor:co2-gas-inspect-3\" \n        ],\n        show: [\n            \"ncd-co2-gas-sensor:co2-gas-gauges\",\n            \"ncd-co2-gas-sensor:co2-gas-history\",\n            \"ncd-co2-gas-sensor:co2-gas-battery-percent\" \n        ],\n        enable : \n        [\n            \"ncd-co2-gas-sensor:co2-gas-download\",\n            \"ncd-co2-gas-sensor:co2-gas-select-mac\"\n        ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3280,"y":240,"wires":[["9608ca02881b8d2f"]]},{"id":"d0a9cb2be1138c62","type":"ui-event","z":"5c8c4b9df867983a","g":"5edd2213c8316624","ui":"ec459411017ddf37","name":"","x":3030,"y":240,"wires":[["92d8677b5e6fa1bf"]]},{"id":"e1c7b07bc094accc","type":"inject","z":"5c8c4b9df867983a","g":"5edd2213c8316624","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":3025,"y":320,"wires":[["40e074ab323d7e23"]],"l":false},{"id":"40e074ab323d7e23","type":"change","z":"5c8c4b9df867983a","g":"5edd2213c8316624","name":"rtdDeleteFlowVar","rules":[{"t":"delete","p":"co2GasCountMac","pt":"flow"},{"t":"delete","p":"co2GasMac","pt":"flow"},{"t":"delete","p":"co2GasMacSelection","pt":"flow"},{"t":"delete","p":"co2GasDownload","pt":"flow"},{"t":"delete","p":"co2GasInspect","pt":"msg"},{"t":"set","p":"options","pt":"msg","to":"[\"\"]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3085,"y":320,"wires":[["92d8677b5e6fa1bf","c0cf694846b29bca"]],"icon":"font-awesome/fa-remove","l":false},{"id":"c0cf694846b29bca","type":"link out","z":"5c8c4b9df867983a","g":"5edd2213c8316624","name":"link out 114","mode":"link","links":["d8edbbd6987378fe","b19b8c47eb34a2b7","adbb35839b5ed514","f9a9c5730136fd7b","14659fe556305457","b8bbf94a8733c294"],"x":3155,"y":320,"wires":[]},{"id":"c943de803dd8c936","type":"link in","z":"5c8c4b9df867983a","g":"5edd2213c8316624","name":"link in 173","links":["7cea99bdffc9c49f"],"x":3085,"y":280,"wires":[["92d8677b5e6fa1bf"]]},{"id":"dd462c5f2e96424f","type":"ui-chart","z":"5c8c4b9df867983a","group":"1c261da0029f6083","name":"CO2 History Data","label":"CO2 History Data","order":2,"chartType":"line","category":"CO2","categoryType":"str","xAxisLabel":"","xAxisProperty":"payload[0].Timestamp","xAxisPropertyType":"msg","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload[0].CO2","yAxisPropertyType":"msg","ymin":"","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":"40","removeOlderUnit":"60","removeOlderPoints":"","colors":["#ff7f0e","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":"10","height":"6","className":"","interpolation":"linear","x":3810,"y":780,"wires":[[]]},{"id":"b8bbf94a8733c294","type":"link in","z":"5c8c4b9df867983a","name":"link in 216","links":["45327efd0dbd5541","c0cf694846b29bca","f88263c7dd078f28"],"x":3585,"y":780,"wires":[["dd462c5f2e96424f"]]},{"id":"a3010574138907f0","type":"function","z":"5c8c4b9df867983a","name":"getData","func":"let timestamp = Date.now();\n// Get the original data\nconst originalData = msg.payload.sensor_data;\n\n// Create a new object to hold the modified data\nconst newData = {};\n\n// Loop through each key in the original data\nfor (const key in originalData) {\n    if (originalData.hasOwnProperty(key)) {\n        // Replace the keys according to the specified rules\n        let newKey = key.replace('humidity', 'humidity').replace('temperature', 'humidity');\n        newData[newKey] = originalData[key];\n    }\n}\n\n// Assign the new data back to the message payload\nlet data = newData;\ndata.Timestamp = timestamp;\nmsg = {};\nmsg.payload = [data];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3635,"y":820,"wires":[["dd462c5f2e96424f"]],"l":false},{"id":"406ccbeff919dfdf","type":"link in","z":"5c8c4b9df867983a","name":"link in 217","links":["8187b2bb94b66b5d"],"x":3585,"y":820,"wires":[["a3010574138907f0"]]},{"id":"3ec8280f09642874","type":"junction","z":"5c8c4b9df867983a","x":2130,"y":1000,"wires":[["1dbbcd19132e38b2"]]},{"id":"b2f854044a28bb76","type":"junction","z":"5c8c4b9df867983a","x":1010,"y":720,"wires":[["4fcf463f7aca0b15","b5cc5ad8be6273d4"]]},{"id":"b4db2ca48dd65b46","type":"group","z":"5c8c4b9df867983a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5f8f21bdd4c107d7","c59a870d62b55e53","2cd5bf9b08b9a526","b2ce40774b6cb6b7","c695d84d0418bc90","5b6e63aa140289b9","7f491d0477a81e79","3dc70aa13e1375a2","e063f3e5c5f74c4d","4b6473999e286c92","687cbe034e41796d","c8316edf37425bec","2a6a72e2a7132084","e6d4c58dc9025629","eade5c94e5f98725","de08a066b0e3d7da","cb72e8deb2c2c4c3","7cea99bdffc9c49f"],"x":2954,"y":379,"w":1122,"h":222},{"id":"460953dc96060b48","type":"group","z":"5c8c4b9df867983a","name":"","style":{"fill":"none","label":true},"nodes":["b759caeb85e368b7","7ebdb792f318a5dc","761dc5f24506fb85"],"x":3634,"y":279,"w":712,"h":82},{"id":"56527be957791d6c","type":"group","z":"5c8c4b9df867983a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c8b7ded7a40d8c6a","21c65f58ea6913ee","275482dadd9e548d"],"x":3634,"y":159,"w":692,"h":82},{"id":"5edd2213c8316624","type":"group","z":"5c8c4b9df867983a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ab30a761b0172a03","c112b1eb314ec8fb","9608ca02881b8d2f","92d8677b5e6fa1bf","d0a9cb2be1138c62","e1c7b07bc094accc","40e074ab323d7e23","c0cf694846b29bca","c943de803dd8c936"],"x":2954,"y":159,"w":652,"h":202},{"id":"d5cb110dbf7d64ab","type":"group","z":"5c8c4b9df867983a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["427f72e713f3b422","af91089fe91a2ba8","24926e799e831a6f","ad1b24b6d5b89e26","6d3ac2b8bfa50483","3afd62ed94821fad","6bbc39e1fa1e41ad","e655b63146ca066c","d2dac8e7084f234b","6d132fc44a9ffe66","219e15c4e6aad59b","2c8347459d2255d0","c6cbc1e19a4e5930","0b9860878e605c21","2eb03f0fadf75b41","cb55e94626a51bd1","f90425dd1fa04045","c23cee37c9ce2750","bdb2ea5b1fbf7660","9009862a681da4da","558b0819339188d9","cfb62fea9d3beaaa","d876eaa7ca6cc284","25408472b5c31603","4812c0f09de79d4e","389579aed0ef99ba","25b521a73bd50eed","a777479cea61d4fd","383856288292108d","b690b3c207191c05","ec656663f90b5f07","38b8d990be0efee6","b8fb2bde2d8848e6","0d8b95f3fb58bc88","608248cda8aa4d6e","210e7435eaee1386","b228a2b88a9bed5e","ebcdda15bbcd51b8","471333df010b4039","010ca20d178749aa","585059159d93c98b","7c4b02d5616edf9f","25e469b41f32e41f","8d40bdf2908c08f3","3fcb1561daa2fdf5","482db2e1dd842b14"],"x":2974,"y":1099,"w":1042,"h":482},{"id":"f1a33d36903bd849","type":"ui-group","name":"co2-gas-inspect-1","page":"4cc30ca454232d23","width":"4","height":"1","order":6,"showTitle":false,"className":"co2-gas-group-inspect","visible":"true","disabled":"false","groupType":"default"},{"id":"41d4938e87e89a05","type":"ui-group","name":"co2-gas-inspect-2","page":"4cc30ca454232d23","width":"4","height":"1","order":7,"showTitle":false,"className":"co2-gas-group-inspect","visible":"true","disabled":"false","groupType":"default"},{"id":"33248c846b1ca929","type":"ui-group","name":"co2-gas-inspect-3","page":"4cc30ca454232d23","width":"4","height":"1","order":8,"showTitle":false,"className":"co2-gas-group-inspect","visible":"true","disabled":"false","groupType":"default"},{"id":"87cfcb63861c5271","type":"ui-group","name":"co2-gas-select-mac","page":"4cc30ca454232d23","width":"6","height":"1","order":2,"showTitle":false,"className":"co2-gas-group-select-mac","visible":"true","disabled":"false","groupType":"default"},{"id":"ec459411017ddf37","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"4c4b899377993f04","type":"ui-group","name":"co2-gas-gauges","page":"4cc30ca454232d23","width":"2","height":"1","order":3,"showTitle":false,"className":"ncd-group-co2-gas-gauge-data","visible":"true","disabled":"false","groupType":"default"},{"id":"c9eda5fa9f90723c","type":"ui-group","name":"co2-gas-battery-percent","page":"4cc30ca454232d23","width":"12","height":"1","order":5,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"1c261da0029f6083","type":"ui-group","name":"co2-gas-history","page":"4cc30ca454232d23","width":"10","height":"1","order":4,"showTitle":false,"className":"ncd-group-co2-gas-history-data","visible":"true","disabled":"false","groupType":"default"},{"id":"33e598eadd7588c5","type":"ui-group","name":"co2-gas-download","page":"4cc30ca454232d23","width":"6","height":"1","order":1,"showTitle":false,"className":"co2-gas-group-download","visible":"true","disabled":"false","groupType":"default"},{"id":"4cc30ca454232d23","type":"ui-page","name":"ncd-co2-gas-sensor","ui":"ec459411017ddf37","path":"/ncd-co2-gas-sensor","icon":"mdi mdi-molecule-co2","layout":"grid","theme":"e01eadf35316cb83","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"e01eadf35316cb83","type":"ui-theme","name":"ncdTheme","colors":{"surface":"#0099cc","primary":"#0931fb","bgPage":"#a3a7a8","groupBg":"#84daf0","groupOutline":"#9da2a4"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"10px"}},{"id":"708b3b8d2849a0de","type":"subflow:5c8c4b9df867983a","z":"8c51d1a367a55d26","name":"","x":740,"y":240,"wires":[]}]
